*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}

img {
  border-style: none;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#menu-list {
  display: flex;
}

#menu-list li {
  margin-left: 15px;
}

#menu-list li:first-child {
  margin-left: 0;
}